/*CSSスライドショー設定
---------------------------------------------------------------------------*/
/*１枚目*/
@keyframes slide1 {
	0% {left: 0px;top: 0px;opacity: 0;}
	10% {left: 0px;top: 0px;opacity: 1;}
	30% {left: 0px;top: 0px;opacity: 1;}
	31% {left: 0px;top: 0px;opacity: 0;}
	40% {left: -100%;top: 0px;opacity: 0;}
	100% {left: -100%;top: 0px;opacity: 0;}
}

@keyframes slide2 {
	0% {left: -100%;top: 0px;opacity: 0;}
	30% {left: -100%;top: 0px;opacity: 0;}
	31% {left: 0px;top: 0px;opacity: 1;}
	40% {left: 0px;top: 0px;opacity: 1;}
	60% {left: 0px;top: 0px;opacity: 1;}
	61% {left: 0px;top: 0px;opacity: 0;}
	70% {left: -100%;top: 0px;opacity: 0;}
	100% {left: -100%;top: 0px;opacity: 0;}
}

@keyframes slide3 {
	0% {left: -100%;top: 0px;opacity: 0;}
	60% {left: -100%;top: 0px;opacity: 0;}
	61% {left: 0px;top: 0px;opacity: 1;}
	70% {left: 0px;top: 0px;opacity: 1;}
	90% {left: 0px;top: 0px;opacity: 1;}
	100% {left: 0px;top: 0px;opacity: 0;}
}


/*mainimg
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg {
	clear: left;
	position: relative;
	margin-bottom: 20px;
	border: 10px solid #fff;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);	/*影の設定。右へ、下へ、ぼかし幅。rgbaは色設定で0,0,0は黒。0.2が透明度。*/
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);			/*同上*/
}
/*３枚画像の共通設定*/
#slide1,#slide2,#slide3 {
	-webkit-animation-duration: 24s;	/*実行する時間。「s」は秒の事。*/
	animation-duration: 24s;			/*同上*/
	-webkit-animation-iteration-count:infinite;	/*実行する回数。「infinite」は無限に繰り返す意味。*/
	animation-iteration-count:infinite;			/*同上*/
	position: absolute;left:0px;top:0px;width: 100%;height: auto;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/*土台画像*/
#slide0 {
	position: relative;width: 100%;height: auto;
}
/*１枚目*/
#slide1 {
	-webkit-animation-name: slide1;	/*上で設定しているキーフレーム（keyframes）の名前*/
	animation-name: slide1;			/*同上*/
}
/*２枚目*/
#slide2 {
	-webkit-animation-name: slide2;	/*上で設定しているキーフレーム（keyframes）の名前*/
	animation-name: slide2;			/*同上*/
}
/*３枚目*/
#slide3 {
	-webkit-animation-name: slide3;	/*上で設定しているキーフレーム（keyframes）の名前*/
	animation-name: slide3;			/*同上*/
}
