@charset "utf-8";


/*PC・タブレット・スマホ共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body {min-height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	-webkit-text-size-adjust: none;
	background: #25b1d9;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#25b1d9 200px, #fff 200px);	/*トップページ以外の背景設定。画面の上から150pxまでが#25b1d9で、そこからすぐ#fffの白色に切り替える内容。*/
}
body#top {
	background: linear-gradient(#25b1d9 300px, #fff 300px);	/*トップページの背景設定。画面の上から450pxまでが#25b1d9で、そこからすぐ#fffの白色に切り替える内容。*/
}
h1,h2,h3,h4,h5,p,ol,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}

ul {
	margin-top: 0px;
}

li {
	margin-top: 0px;
	padding: 0px 14px 7px;	/*上、左右、下への余白*/
}

ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
}
a:hover {
	color: #25b1d9;	/*マウスオン時の文字色*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	width: 80%;			/*ブロックの幅を画面の80%にする設定。*/
	max-width: 800px;	/*上のwidth指定の追加設定。幅1000pxを最大幅に設定し、それ以上広げない。*/
	margin: 0 auto;		/*HP画面の左右中央に表示させる設定*/
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	text-align: center;		/*headerの中身をセンタリングさせる設定*/
	height: 200px;			/*headerの高さ*/
	background: #25b1d9;	/*headerの背景色*/
}
/*ロゴ画像設定*/
#logo  img {
	width: 600px;			/*画像幅*/
	margin-top: 5px;		/*画像の上に空けるスペース*/
	margin-bottom: 5px;	/*画像の下に空けるスペース*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	text-align: center;	/*文字をセンタリング*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline;	/*横並びにする設定*/
}
#menubar li a {
	text-decoration: none;
	padding: 15px 30px;	/*各メニュー内の余白。上下に15px、左右に30pxあけるという意味。*/
	color: #fff;	/*文字色*/
}
/*マウスオン時の設定*/
#menubar li a:hover {
	background: url(../images/icon_arrow1.png) no-repeat center top;	/*矢印アイコンを出す設定。矢印が不要ならここは丸ごと削除する。*/
}

/*スマホ用メニューを表示させない*/
#menubar-s {
	display: none;
}
/*３本バーアイコンを表示させない*/
#menubar_hdr {
	display: none;
}


/*コンテンツ（見出しバーや文字などが入っているブロック）
---------------------------------------------------------------------------*/
#contents {
	background: #fff;	/*背景色*/
	padding: 3%;		/*ボックス内の余白*/
}
/*コンテンツのh2タグの設定*/
#contents h2 {
	clear: both;
	margin-bottom: 15px;
	color: #fff;		/*文字色*/
	padding: 5px 20px;	/*上下、左右への余白*/
	background: #25b1d9;	/*背景色*/
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	clear: both;
	margin-bottom: 15px;
	padding: 3px 20px;	/*上下、左右への余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
/*コンテンツのp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 14px;	/*上、左右、下への余白*/
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -5px;
}

/*SERVICEページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	overflow: hidden;
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding: 20px;	/*ボックス内の余白*/
}
/*h4見出しの設定*/
.list h4 {
	color: #25b1d9;	/*文字色*/
	font-size: 16px;	/*文字サイズ。少し大きくしています。*/
}
/*画像の設定*/
.list img {
	width: 35%;		/*画像幅*/
	float: left;	/*画像を左に回り込み*/
	margin-right: 3%	/*画像の右側に空けるスペース*/
}
.list p {
	padding: 0 !important;
}

/*フッター(ページ最下部のcopyrightのパーツ)設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;	/*文字をセンタリング*/
	padding: 20px 0px;	/*左から、上下、左右への余白*/
}
footer a {
	text-decoration: none;
	border: none;
}
footer .pr {
	display: block;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*tテーブルブロック設定*/
.ta1 {
	width: 100%;
	margin-bottom: 15px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #777;	/*テーブルの枠線の幅、線種、色*/
	padding: 4px;			/*テーブル内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #777;	/*背景色*/
	color: #fff;	/*文字色*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	width: 30%;	/*幅*/
	text-align: center;	/*センタリング*/
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #e5e5e5;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px;}
.color1 {color: #25b1d9;}
.pr {font-size: 10px;}


@media screen and (max-width:800px){
	
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	-webkit-text-size-adjust: none;
	background: #25b1d9;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#25b1d9 150px, #fff 150px);	/*トップページ以外の背景設定。画面の上から150pxまでが#25b1d9で、そこからすぐ#fffの白色に切り替える内容。*/
}

	
header {
	text-align: center;		/*headerの中身をセンタリングさせる設定*/
	height: 150px;			/*headerの高さ*/
	background: #25b1d9;	/*headerの背景色*/
}

#logo  img {
	width: 100%;			/*画像幅*/
	margin-top: 5px;		/*画像の上に空けるスペース*/
	margin-bottom: 5px;	/*画像の下に空けるスペース*/
}

/*スマホ用メニューを非表示から表示に切り替える*/
#menubar-s {
	display: block;
	overflow: hidden;
	position: absolute;
	background: rgba(0,0,0,0.2);
	border-top: 1px solid #fff;
	width: 80%;
	height: 100%;
	z-index: 10;
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}
/*メニュー１個あたりの設定*/

#menubar-s li {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

#menubar-s ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 100%;
}

#menubar-s li a {
	display: block;text-decoration: none;
	padding: 0px 5%;
	border-bottom: 1px solid #fff;
	background: #2b3f7f;
	color: #fff;
	font-size: 125%;
}
/*PC用メニューを非表示にする*/
#menubar {
	display: none;
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 28px;		/*上から28pxの場所に配置*/
	right: 5%;		/*右から5%の場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #000;	/*枠線の幅、線種、色*/
	padding: 12px 10px 5px;	/*上、左右、下へのボックス内余白*/
	background: #fff;		/*背景色*/
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 3px solid #333;	/*枠線の幅、線種、色*/
	margin-bottom: 7px;			/*バー同士の余白*/
}

}


/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:560px){
	
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 14px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	-webkit-text-size-adjust: none;
	background: #25b1d9;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#25b1d9 125px, #fff 125px);	/*トップページ以外の背景設定。画面の上から150pxまでが#25b1d9で、そこからすぐ#fffの白色に切り替える内容。*/
}
body#top {
	background: linear-gradient(#25b1d9 125px, #fff 125px);	/*トップページの背景設定。画面の上から450pxまでが#25b1d9で、そこからすぐ#fffの白色に切り替える内容。*/
}

#menubar-s {
	display: block;
	overflow: hidden;
	position: absolute;
	background: rgba(0,0,0,0.2);
	border-top: 1px solid #fff;
	width: 100%;
	height: 100%;
	z-index: 10;
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5S;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*アニメーションの完了後、最後のキーフレームを維持する*/
}

/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/
#container {
	width: 100%;	/*ブロックの幅を画面の100%にする設定。*/
}

#logo  img {
	width: 100%;			/*画像幅*/
	margin-top: 40px;		/*画像の上に空けるスペース*/
	margin-bottom: 5px;	/*画像の下に空けるスペース*/
}

#menubar {
	display: none;
}

#menubar_hdr {
	display: block;
	position: absolute;
	top: 1px;		/*上から0pxの場所に配置*/
	right: 0%;		/*右から0%の場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #333;	/*枠線の幅、線種、色*/
	padding: 11px 5px 5px;	/*上、左右、下へのボックス内余白*/
	background: #fff;		/*背景色*/
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 2px solid #333;	/*枠線の幅、線種、色*/
	margin-bottom: 5px;			/*バー同士の余白*/
}



/*メニュー
---------------------------------------------------------------------------*/
#menubar li a {
	padding: 15px 10px;	/*各メニュー内の余白。上下に15px、左右に10pxあけるという意味。*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#new h2.open {
	background: #25b1d9 url(../images/btn_minus.png) no-repeat right center/34px 34px;
}
#new h2.close {
	background: #25b1d9 url(../images/btn_plus.png) no-repeat right center/34px 34px;
}

/*テーブル
---------------------------------------------------------------------------*/
/*tテーブルブロック設定*/
.ta1, .ta1 td, .ta1 th {
	padding: 5px;			/*テーブル内の余白*/
}

}

